@keyframes spin { 
  from { 
      transform rotate(0deg) 
  } to { 
      transform rotate(900000deg) 
  }
}

@keyframes slide { 
  from { 
    margin-left -10px
    opacity 0
  } to { 
    margin-left 0px
    opacity 1
  }
}

@keyframes saved { 
  0% { 
    background #333
  } 
  50% { 
    background #4EBA84
  }
  100% {
    background #333
  }
}

@keyframes loading { 
  0% { 
    width 0%
  } 
  90% {
    width 100%
  }
  99% {
    width 100%
  }
  100% {
    width 0%
  }
}