body
  margin 0px

*
  outline 0
  font-size 15px
  font-weight 200
  box-sizing border-box
  font-family Proxima Nova
  
pre
  margin 0
  line-height 20px
  
h1
  font-size 40px
  margin 0 auto 30px auto
  text-align center
  
.loader
  position absolute
  z-index 2
  top 0px
  left 0px
  width 0%
  height 1px
  background #C33B3B
  animation loading 0.5s

.content
  position fixed
  top 0px
  right 0px
  left 266px
  bottom 0px
  padding 40px
  overflow-y scroll
      
  .newTask
    padding 21px 20px 18px 20px
    color #333
    width 100%
    resize none
    border 1px solid #999
    margin 0px auto 10px auto
    max-width 800px
    border-radius 4px
      
    &:after
      content 'Type to add task'
      
    &:focus
      background #333
      color white
      border 1px solid #333
      &:after
        content ''

.deleteProject
  font-size 12px
  cursor pointer
  color rgba(0,0,0,0.3)
  display table
  margin 20px auto 0px auto
  &:hover
    color #333
    text-decoration underline

ul
  padding 0
  margin 0px auto 0px auto
  max-width 800px

  li
    width 100%
    padding 20px 20px 17px 60px
    background #333
    color #fff
    margin 0px 0px 10px 0px
    display block
    position relative
    overflow hidden
    border-radius 3px
    animation slide 0.5s
    
  .saved
    animation saved 0.5s

  .checkBox
    width 25px
    height 25px
    display inline-block
    position absolute
    left 17px
    top 16px
    border 2px solid #fff
    border-radius 50%
    cursor pointer
    transition 0.2s
    top 50%
    margin-top -13px
    &:hover
      background #fff
    
  .checkBoxChecked
    background #fff
    &:hover
      background #555
      border 2px solid #555

  .checked
    //background #4EBA84
    
  .delete
    position absolute
    top 0px
    right 0px
    background #d34d66
    width 7px
    height 100%
    cursor pointer
    transition 0.2s
    z-index 1
    padding 0px 0px 0px 7px
    line-height 60px
    text-transform uppercase
    letter-spacing 4px
    font-size 14px
    text-align center
    &:hover
      padding 0px
      width 100%
      height 100%
      border-radius 0px
      top 0px
      right 0px
    