.sidebar
  position fixed
  top 0px
  left 0px
  bottom 0px
  background #333
  padding 20px
  width 266px
  color white
  
  .visible
    display block !important
    
  .newProject
    position absolute
    top 20px
    height 62px
    width 226px
    border-radius 4px
    border 0px
    padding 0px 20px
    display none
  
  header
    display inline-block
    
    img
      border-radius 4px
      margin-right 20px
      float left
      width 62px
        
    .addProject
      margin-right 20px
      width 62px
      height 62px
      border-radius 4px
      float left
      background #4672B4
      position relative
      cursor pointer
      
      &:hover .plus
        animation spin 60s ease-in
        
      .plus
        width 30px
        height 30px
        position absolute
        left 50%
        margin-left -15px
        top 50%
        margin-top -15px
        text-align center
        font-size 56px
        line-height 38px
        
    .hideCompleted
      width 62px
      height 62px
      border-radius 4px
      float left
      background #4EBA84
      position relative
      cursor pointer
      &:hover .circle
        background #fff
        
      .circleActive
        background #fff
        &:hover
          background rgba(255,255,255,0.5)
      
      .circle
        transition 0.2s
        width 30px
        height 30px
        border-radius 50%
        border 3px solid white
        position absolute
        left 50%
        margin-left -15px
        top 50%
        margin-top -15px
      
  .account
    width 100%
    background rgba(255,255,255,0.05)
    border-radius 4px
    margin 15px 0px
    color white
    display inline-block
    padding 10px
    line-height 32px
    height 50px
    position relative
    overflow hidden
    
    div
      float left
      font-size 12px
      letter-spacing 3px
      text-transform uppercase
      color #999
      font-weight 600
    
    .picture
      width 30px
      height 30px
      background white
      border-radius 50%
      margin 0px 10px 0px 0px
      
    .logout
      position absolute
      top 0px
      right 0px
      background #d34d66
      width 7px
      height 100%
      cursor pointer
      transition 0.2s
      z-index 1
      padding 0px 0px 0px 7px
      line-height 53px
      text-transform uppercase
      letter-spacing 4px
      font-size 13px
      text-align center
      color white
      font-weight 200
      &:hover
        padding 0px
        width 100%
        height 100%
        border-radius 0px
        top 0px
        right 0px
      
  .lists
    diplay inline-block
    
    h2
      font-size 16px
      font-weight 400
      margin 0px 0px 10px 0px
      &:first-child
        margin 20px 0px 10px 0px
    
    .projectActive
      border-left 3px solid #4672B4 !important
      
    .project
      display block
      font-size 14px
      font-weight 200
      color #7E7E7E
      line-height 23px
      height 25px
      cursor pointer
      padding 2px 0px 1px 17px
      border-left 3px solid rgba(0,0,0,0)
      margin-left -20px
      transition 0.2s
      &:hover
        border-left 3px solid rgba(70, 114, 180, 0.6)
        
       &:hover .incomplete
         opacity 1 !important
      
      .incomplete
        display inline-block
        background #4672B4
        padding 0px 6px 0px 6px
        border-radius 50%
        color #fff
        font-weight 400
        font-size 12px
        float right
        height 19px
        opacity 0